/**
* default styles
* these are the root styles for the whole site
*/

@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("/_a/fa/css/all.min.css");
@import url("global.css");

:root {
  --bg: #5BCEFA;
  --secondary-bg: #F5A9B8;
  --third-bg: #FFFFFF;
  --fourth-bg: #F5A9B8;
  --primary: #5BCEFA;
  --secondary: #F5A9B8;
  --text-color: #000000;
  --button-bg: #FFFFFF;
  --button-hover: #DCDCDC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  height: 100vh;
  background: var(--bg);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

img {
  pointer-events: none;
}

::-moz-selection {
  color: var(--bg);
  background: var(--text-color);
}

::selection {
  color: var(--bg);
  background: var(--text-color);
}

::-webkit-scrollbar {
  width: 5px;
  padding: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--third-bg);
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}